@font-face {
  font-family: "sfpro";
  src: url('./assets/SFPRODISPLAYREGULAR.OTF');
}

.body{
  font-family: "sfpro", sans-serif;
}
.header{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 40px;
  padding-left: 20px;
  cursor: pointer;
  font-family: "sfpro", sans-serif;
}
.rh{
  display:  flex;
  gap: 30px;
  justify-content: center;
  align-items: center;

}
.logo{
  height: 50px;
}
.rh button{
  max-height: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(45, 45, 45);
  color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 transition: 0.3s ease-in-out background-color;
 transition: 0.2s ease-in-out transform;
 font-family: "sfpro", sans-serif;
 box-shadow: none;
 box-shadow: none;
 outline: none;
}
.rh button:hover{
  background-color: black;
  transform: scale(1.1);
}
.cart{
  height: 40px;
  margin-right: 30px;
  cursor: pointer;
  transition: 0.2s ease-in-out transform;
}
.cart:hover{
  transform: scale(1.1);
}
.search input{
  padding: 8px;
  width: 500px;
  border-radius: 10px;
  border: 1px transparent;
  background-color: rgba(181, 188, 195, 0.419);
  font-family: "sfpro", sans-serif;
}
.search{
  padding-right: 80px;
}
.banner{
  background-color: rgb(32, 32, 32);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-family: "sfpro", sans-serif;
}
.iphead{
  background-color: black;
  font-family: "sfpro", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.ip15{
  width: 1000px;
  margin: auto;
}
.iptext{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  margin-top: 30px;
}
.ipt1{
  font-size: 52px;
}
.ipt2{
  font-size: 20px;
}
.ipt3{
  background-color: black;
  color: #0077ed;
  font-family: "sfpro", sans-serif;
  border: 1px solid #0077ed;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color;
  transition: color;
  margin-top: 25px;
}
.ipt3:hover{
  background-color: #0077ed;
  color: white;
}
.shopc{
  display: grid;
  grid-template-columns: repeat(3,1fr);
 padding-top: 20px;
  padding-bottom: 50px;
  color: rgb(60, 60, 60);
}
.mac,.phone,.audio{
  width: 300px;
}
.macc,.phonec,.audioc{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-family: "sfpro", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s ease-in-out transform;
 
}
.macc:hover,.phonec:hover,.audioc:hover{
  transform: scale(1.03);
}
.mac,.phone{
  padding-bottom: 70px;
  padding-top: 50px;
}
.mac{
  padding-bottom: 90px;
}
.mact,.phonet,.audiot{
  font-size: 22px;
  
}
.footerc{
  display: flex;
  background-color: black;
  color: white;
  font-family: "sfpro", sans-serif;
  justify-content: space-around;
  padding: 50px;
  align-items: start;
}
.f1{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;

}
.fh{
  font-size: 20px;
  font-weight: 600;
}
.fc{
  cursor: pointer;
}
.audioc{
  max-width: 495px;
}